.animatated-object {
  position: absolute;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.train {
  top: 100px;
  left: 200px;
  width: 177px;
  height: 160px;
  background: url(https://js.cx/clipart/train.gif) ;
}
.unit {
  top: 160px;
  left: 100px;
  width: 100px;
  height: 100px;
  background: url(http://theoldnewbie.github.io/Anim/image/move.gif) no-repeat center;
  background-size: 100% 100px;
}
.mirror {
  transform: scaleX(-1);
}
