.animatated-object {
  position: absolute;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.train {
  top: 100px;
  left: 200px;
  width: 177px;
  height: 160px;
  background: url(https://js.cx/clipart/train.gif) ;
}
.unit {
  top: 160px;
  left: 100px;
  width: 100px;
  height: 100px;
  background: url(http://theoldnewbie.github.io/Anim/image/move.gif) no-repeat center;
  background-size: 100% 100px;
}
.mirror {
  transform: scaleX(-1);
}
<<<<<<< HEAD
    .main{
    height: 600px;
    width: 700px;
    /*border: solid 1px;*/
    position:absolute;
}

.circle{
    position:absolute;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: green;
}

.square{
    position:absolute;
    height: 10px;
    width: 10px;
    background-color: yellow;
}
.square2{
    position:absolute;
    height: 3px;
    width: 3px;
    border-radius: 1px;
    background-color: red;
}

.counter{
    display:inline-block;
    height: 20px;
    width: 80px;
    background-color: aqua;
}

.main{
     height: 600px;
     width: 700px;
     /*border: solid 1px;*/
     position:absolute;
 }

.circle{
    position:absolute;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: green;
}

.square{
    position:absolute;
    height: 10px;
    width: 10px;
    background-color: yellow;
}

.counter{
    display:inline-block;
    height: 20px;
    width: 80px;
    background-color: aqua;
}

.counter2{
    display:inline-block;
    height: 20px;
    width: 80px;
    background-color: cadetblue;
}
.ufo{
    position:absolute;
    height: 40px;
    width: 40px;
    background-color: white;
    //border-radius: 100px/40px;
    transform: rotate(0deg);
}


.leftCat{
    position:absolute;
    height: 40px;
    width: 10px;
    background-color: dimgray;
}

.rightCat{
    position:absolute;
    height: 40px;
    width: 10px;
    left: 30px;
    background-color: dimgray;
}

.case{
    position:absolute;
    height: 30px;
    width: 20px;
    left: 10px;
    top: 5px;
    background-color: darkgray;
}

.tower{
    position:absolute;
    height: 16px;
    width: 16px;
    left: 2px;
    top: 5px;
    background-color: dimgray;
    border-radius: 8px
}

.gun{
    position:absolute;
    height: 15px;
    width: 4px;
    left: 9px;
    top: -9px;
    background-color: darkolivegreen;
    border-radius: 0px;
}
#demo{
  height:150px;
  width:150px;
  position:absolute;
  left:50%;
  margin-left: -75px;
}
#demo img{
  width:100%;
}
=======
.letter {
  position: absolute;
  top: 200px;
  left: 200px;
  font: 600px Arial,sans-serif;
  color: #333;
}
>>>>>>> fed204e2a32e60233bd498b3e1e5ce78e7027688
